<div id="footer" class="fixed-bottom mt-5">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="p-4">
       <a  routerLink="/"> <h5 class="text-white h4">{{projectName}}</h5></a>
        <span class="text-muted">Will blow your mind</span>
      </div>
    </div>
    <nav class="navbar navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>

  